/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 4.5rem 0 1rem;

  &__title, &__title-center{
    font-size: $h2-font-size;
    color: $title-color;
    text-align: center;
    margin-bottom: $mb-1;
  }
}

.svg{
  &__color{
    fill: $first-color;
  }
  &__blob{
    fill: $first-color-light;
  }
  &__img{
    width: 300px;
    justify-self: center;
  }
}

/*=============== LAYOUT ===============*/
.container{
  max-width: 968px;
  margin-left: $mb-1-5;
  margin-right: $mb-1-5;
}

.grid{
  display: grid;
  gap: 1.5rem;
}